body {
  background-color: #343a40;
  color: #ffffff;
}

header {
  background-color: #212529;
  color: #ffffff;
}

footer {
  background-color: #212529;
  color: #ffffff;
}

.card {
  border: none;
}

.card-header {
  background-color: #121416;
  color: #ffffff;
}

.form-label {
  color: #ffffff;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
